@page "/"
@inject IVersionProvider VersionProvider

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Open AI Sample UI</Heading>

<Paragraph>This Blazor WebApp uses your OpenAI API key. If you do not have an OpenAI API key, you can get it <a href="https://platform.openai.com/account/api-keys" target="_blank">here</a></Paragraph>

<Paragraph>Please log in using the Validate API Key link in the upper right.</Paragraph>

<Paragraph>This was built using the <Link To="https://www.nuget.org/packages/Whetstone.ChatGPT" Target="Target.Blank">Whetstone.ChatGPT Nuget Package</Link>.</Paragraph>

<Paragraph>All source code, including this Blazor Web App is available at the <Link To="https://github.com/johniwasz/whetstone.chatgpt" Target="Target.Blank">Whetstone.ChatGPT repo</Link>.</Paragraph>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ifs98S9ktJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>