@page "/"
@inject IVersionProvider VersionProvider

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Chat GPT-3 Sample UI</Heading>

<Paragraph>This Blazor WebApp uses your OpenAI API key. If you do not have an OpenAI API key, you can get it <a href="https://platform.openai.com/account/api-keys" target="_blank">here</a></Paragraph>
    
<Paragraph>Please log in using the Validate API Key link in the upper right.</Paragraph>