name: Validate dotnet

on:
  pull_request:
    paths-ignore:
      - '**.md'
    branches: ["main"]
    
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'

  schedule:
    - cron: '0 1 * * *'

env:
  # GDN_BINSKIM_TARGET: "./src/sWhetstone.ChatGPT/bin/Release/**.dll"
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  TWITTER_CREDS:  ${{ secrets.TWITTER_CREDS }}

jobs:
  build-test:
    runs-on: 'windows-latest'
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'csharp' ]

    steps:

      - name: List Environment Variables
        run: env

      - name: Checkout
        uses: actions/checkout@v3

      - name: setup-dotnet
        uses: xt0rted/setup-dotnet@v1.5.0
        with:
          dotnet-version: '7.0'

      - name: setup-dotnet
        uses: xt0rted/setup-dotnet@v1.5.0
        with:
          dotnet-version: '6.0'

      # Install dotnet wasm buildtools workload
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools

      - name: Build with dotnet
        run: dotnet build ./src --configuration Release
        
      - name: Test
        run: dotnet test ./src --no-build --verbosity normal --configuration Release

      # Run analyzers
      - name: Run Microsoft Security DevOps Analysis
        uses: microsoft/security-devops-action@preview
        id: msdo
        
      # Upload alerts to the Security tab
      - name: Upload alerts to Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.msdo.outputs.sarifFile }}

  deploy-pages:
    needs: build-test
    runs-on: 'ubuntu-latest'    

    steps:

      - name: List Environment Variables
        run: env

      - name: Checkout
        uses: actions/checkout@v3

      - name: setup-dotnet
        uses: xt0rted/setup-dotnet@v1.5.0
        with:
          dotnet-version: '7.0'

      - name: setup-dotnet
        uses: xt0rted/setup-dotnet@v1.5.0
        with:
          dotnet-version: '6.0'

      # Install dotnet wasm buildtools workload
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools

      # https://ilovedotnet.org/blogs/blazor-wasm-publishing-to-github-pages/
      # Publishes Blazor project to the release-folder
      - name: Publish .NET Blazor Project
        run: dotnet publish src/examples/blazor/Whetstone.ChatGPT.Blazor.App/Whetstone.ChatGPT.Blazor.App/Whetstone.ChatGPT.Blazor.App.csproj -c:Release -p:GHPages=true -o dist/web --nologo
      
      - name: Change base-tag in index.html from / to whetstone.chatgpt
        run: sed -i 's/<base href="\/" \/>/<base href="\/whetstone.chatgpt\/" \/>/g' dist/web/wwwroot/index.html
      
      # copy index.html to 404.html to serve the same file when a file is not found
      - name: copy index.html to 404.html
        run: cp dist/web/wwwroot/index.html dist/web/wwwroot/404.html

      # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
      - name: Add .nojekyll file
        run: touch dist/web/wwwroot/.nojekyll

      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: dist/web/wwwroot